.dialogs {
    display: grid;
    grid-template-columns: minmax(100px, 200px) 1fr;
    gap: 10px;
}

.dialog {
    background-color: #ffffff;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 3%);
}

.messages {
    background-color: #ffffff;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 3%);
}

:root {
    --theme-color: #05f;
}



.messages {
    /* background-color: #ffffff;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 3%); */
    box-sizing: border-box;
    /* padding: 10px; */
}

.messagesList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.сompanion {
    margin-top: 15px;
    background-color: #ffffff;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 3%);
    border-radius: 15px;
    box-sizing: border-box;
    padding: 10px;
}

.сompanion:first-child {
    margin-top: 0px;
}

.сompanionInner {
    display: flex;
    align-items: center;
}

.companionWrap {
    display: flex;
    flex-direction: column;
}

.сompanionLink {
    text-decoration: none;
    font-size: 14px;
    color: #0c0c0d;
    font-weight: 700;
    line-height: 1.3;
}

.messagesTime {
    font-size: 11px;
    font-weight: 500;
    color: #aaaaaa;
    margin-bottom: 0px;
}

.сompanionText {
    padding: 14px;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 8px 30px rgb(0 0 0 / 5%);
    font-size: 13px;
    color: #000;
    font-weight: 500;
    line-height: 24px;
}

.сompanionText:after {
    background-color: var(--theme-color);
    opacity: 0.1;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    z-index: 1;
}

.myMessage {
    border-radius: 15px;
    margin-top: 15px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 3%);
    display: flex;
    align-items: center;
    gap: 10px;
}

.formWrap {
    width: 80%;
}


label,
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}

textarea {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

label {
    display: block;
    margin-bottom: 10px;
}

.formBtn {
    box-sizing: border-box;
    padding: 10px;
    border: none;
    border-radius: 15px;
    box-shadow: 1px 1px 1px #999;
    background-color: #ffffff;
    cursor: pointer;
    align-self: flex-end;
}

.formBtn:hover {
    box-shadow: 1px 1px 1px #999;
    background-color: #ee3434;
    color: #ffffff;
}